### Step 1: Data Collection

#### Issues:

- Universe is current S&P 500 index constituents, causing survivorship bias. The current companies in the universe are all surviving companies.

In [14]:
import yfinance as yf
import pandas as pd

# List of S&P 500 companies
# Issue: Survivorship bias: the list of companies in the S&P 500 changes over time. Current list shows only the surviving companies.
sp500_tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]['Symbol'].tolist()
sp500_tickers = [item.replace('.', '-') if '.' in item else item for item in sp500_tickers]

# Download data
raw_data = yf.download(sp500_tickers, start="2013-01-01", end="2023-01-01")

[*********************100%%**********************]  503 of 503 completed

5 Failed downloads:
['GEV', 'SW', 'KVUE', 'VLTO', 'SOLV']: Exception("%ticker%: Data doesn't exist for startDate = 1357016400, endDate = 1672549200")

In [15]:
raw_data

Price        Adj Close                                                \
Ticker               A        AAL        AAPL        ABBV       ABNB
Date
2013-01-02   27.142801  13.179525   16.725035   21.801897        NaN
2013-01-03   27.240002  12.877850   16.513933   21.621870        NaN
2013-01-04   27.777939  13.886581   16.053946   21.348724        NaN
2013-01-07   27.577019  13.990283   15.959505   21.392176        NaN
2013-01-08   27.356659  14.291958   16.002457   20.926592        NaN
...                ...        ...         ...         ...        ...
2022-12-23  147.419388  12.710000  130.782562  152.446121  85.250000
2022-12-27  147.735474  12.530000  128.967529  152.343307  83.489998
2022-12-28  146.293228  12.320000  125.010117  151.632935  82.489998
2022-12-29  149.256805  12.700000  128.550964  151.941391  85.230003
2022-12-30  148.054749  12.720000  128.868332  151.053452  85.500000

Price                                                                  ...  \
Ticker             ABT       ACGL         ACN        ADBE         ADI  ...
Date                                                                   ...
2013-01-02   25.612391  14.793333   55.955936   38.340000   33.990086  ...
2013-01-03   26.587341  14.750000   55.753380   37.750000   33.441608  ...
2013-01-04   26.427515  14.876667   56.061295   38.130001   32.846775  ...
2013-01-07   26.643278  14.730000   55.818195   37.939999   32.947208  ...
2013-01-08   26.651270  14.750000   56.142311   38.139999   32.607300  ...
...                ...        ...         ...         ...         ...  ...
2022-12-23  104.473282  63.380001  258.833801  338.450012  159.390167  ...
2022-12-27  104.849907  63.619999  258.075134  335.089996  157.794693  ...
2022-12-28  104.135277  62.599998  255.944809  328.329987  155.926849  ...
2022-12-29  106.530281  63.110001  261.061401  337.579987  159.526382  ...
2022-12-30  106.028107  62.779999  259.563354  336.529999  159.575012  ...

Price       Volume                                                          \
Ticker         WTW       WY     WYNN      XEL       XOM      XYL       YUM
Date
2013-01-02  389995  6595000  2487000  2702000  16143700   927300   6091328
2013-01-03  325971  3967200  1731900  2403600  13268200   610800   3654574
2013-01-04  266137  3639400  2129100  1750100  11427900   563400   3782685
2013-01-07  351792  2460400  1501000  2856800  11799800   481300   5289417
2013-01-08  272932  5202600   976300  3761500  14226400  1084500  17253686
...            ...      ...      ...      ...       ...      ...       ...
2022-12-23  251400  1932800  1134800  1201300  11539400   321100    700800
2022-12-27  248500  2266000  4026500  1580600  11962100   468200   1300200
2022-12-28  257200  2244100  2131500  1513700  10702100   480400    964800
2022-12-29  245500  1846000  1431100  1398000  10534000   516300    875700
2022-12-30  221200  3166600  1614700  1597000  11799600   548900   1401300

Price
Ticker          ZBH    ZBRA        ZTS
Date
2013-01-02  1439425  213800        NaN
2013-01-03  1622250   99900        NaN
2013-01-04  1226524  146000        NaN
2013-01-07   985710   90600        NaN
2013-01-08   932356  112600        NaN
...             ...     ...        ...
2022-12-23   789800  180900  1017900.0
2022-12-27   755600  252500   957900.0
2022-12-28   750100  241200  1443900.0
2022-12-29   686600  274900  1298900.0
2022-12-30   785200  228200  1249500.0

[2518 rows x 3018 columns]

### Step 2: Data Preprocessing

In [11]:
# Handling missing values by forward filling and ensuring no anomalies
data = data.ffill()

# Extracting closing prices
close_prices = data['Close']

# Checking for anomalies
assert not data.isnull().any().any(), "Data contains missing values!"
assert not (data < 0).any().any(), "Data contains negative values where not expected!"

AssertionError: Data contains missing values!

In [9]:
yf.download(['BRK-B'], start="2013-01-01", end="2023-01-01")

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2013-01-02,91.320000,93.199997,91.290001,93.199997,93.199997,7529000
2013-01-03,93.110001,94.339996,92.820000,93.620003,93.620003,7174600
2013-01-04,93.739998,94.050003,93.360001,93.849998,93.849998,4142200
2013-01-07,93.800003,93.879997,93.139999,93.449997,93.449997,3987500
2013-01-08,93.379997,93.809998,92.980003,93.809998,93.809998,3657800
...,...,...,...,...,...,...
2022-12-23,302.880005,306.570007,300.929993,306.489990,306.489990,2460400
2022-12-27,306.450012,308.579987,304.649994,305.549988,305.549988,2730900
2022-12-28,304.769989,307.459991,303.260010,303.429993,303.429993,2628200
2022-12-29,305.940002,309.380005,305.239990,309.059998,309.059998,2846200
2022-12-30,306.950012,309.040009,305.619995,308.899994,308.899994,3298300

In [ ]:
i.replace('.', '/')